{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Editar Factura" %} | Pragma OCR{% endblock %}

{% block content %}
<h1>{% trans "Editar factura" %} {{ factura.numero_factura }}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">{% trans "Guardar cambios" %}</button>
    <a class="btn btn-secondary" href="{% url 'admin_panel:admin_facturas' %}">{% trans "Volver" %}</a>
</form>
{% endblock %}